# Google Gemini LLM API
VITE_GEMINI_API_KEY=""

# Stripe Test Payments
VITE_STRIPE_PUBLISHABLE_KEY=""

# Supabase Cloud Database
VITE_SUPABASE_URL=""
VITE_SUPABASE_ANON_KEY=""

# Clerk Authentication (Optional)
VITE_CLERK_PUBLISHABLE_KEY=""

# RapidAPI Real-Time Amazon Data API
VITE_RAPIDAPI_KEY=""
VITE_RAPIDAPI_HOST="real-time-amazon-data.p.rapidapi.com"
